RewriteEngine On

# Перенаправляем все запросы, кроме прямых обращений к файлам и папкам, на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ public/index.php [QSA,L]