<IfModule mod_rewrite.c>
    RewriteEngine On

    # Перенаправляем все запросы, кроме прямых обращений к файлам и папкам, на index.php
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
